* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* replaced accent color */
.header h1 .seo {
    color: cornflowerblue;
}

/* replaced .header div with "navbar" */
.header navbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* replaced div with "navbar" */
.header navbar ul {
    list-style-type: none;
}

/*replaced .header div with "navbar" */
.header navbar ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* reduced pixel size of hero image*/
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* new css tag for main body content of page */
body main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* side bar content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* condensed benefit css classes */
.benefit-brand,
.benefit-cost,
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* condensed benefit css classes */
.benefit-brand h3,
.benefit-cost h3,
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* condensed benefit img css classes */
.benefit-brand img,
.benefit-cost img,
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* main content */
/* condensed css classes */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* condensed img css classes */
.online-reputation-management img,
.search-engine-optimization img,
.social-media-marketing img {
    max-height: 200px;
}

/* condensed css classes */
.online-reputation-management h2,
.search-engine-optimization h2, 
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.foot {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.foot h2 {
    font-size: 20px;
}